# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
oatmeal/
oatmeal-olive-instrument.zip
oatmeal-template/

# UNIO specific
*.docx
*.docx:Zone.Identifier
*.zip
*.zip:Zone.Identifier
클로드*.zip
test-results/
